*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header */

header{
    background-color: rgba(245, 203, 0);
    color: black;
    padding: 20px;
}
.logo{
    background-image: url('../assets/assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-left: 100px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 30px;
}
